In [ ]:
from __future__ import division
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import os
import matplotlib.pyplot as plt
import linearmodels as lm

from linearmodels import PanelOLS
from linearmodels import RandomEffects
from linearmodels import FirstDifferenceOLS

In [ ]:
c = pd.read_csv("NYPD_Complaint_Data_Historic.csv") ## choose "panel-for-R.csv" and more information on variables are here: http://sda.berkeley.edu/sdaweb/analysis/?dataset=gss06panelw3 ##

c.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,08/29/2006,13:00:00,NaN,NaN,43.0,08/30/2006,578,HARRASSMENT 2,638.0,...,M,NaN,40.827414,-73.877946,"(40.827414051, -73.877945775)",PATROL BORO BRONX,NaN,25-44,BLACK HISPANIC,F
1,403507361,11/05/2006,11:00:00,11/05/2006,17:40:00,66.0,11/05/2006,107,BURGLARY,221.0,...,NaN,NaN,40.637097,-74.006105,"(40.637096864, -74.006105014)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,09/08/2006,23:30:00,09/09/2006,00:01:00,106.0,09/09/2006,347,INTOXICATED & IMPAIRED DRIVING,905.0,...,NaN,NaN,40.679260,-73.841500,"(40.679260229, -73.841500185)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,18:40:00,12/13/2011,18:49:00,79.0,12/13/2011,341,PETIT LARCENY,333.0,...,NaN,NaN,40.687402,-73.940369,"(40.687401619, -73.940369194)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,480667624,08/14/2009,04:20:00,NaN,NaN,30.0,08/14/2009,113,FORGERY,729.0,...,NaN,NaN,40.831576,-73.942983,"(40.831576128, -73.942982699)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E

In [ ]:
c.drop(['KY_CD', 'PD_CD', 'PD_DESC', 'HADEVELOPT', 'PARKS_NM', 'JURIS_DESC', 'HOUSING_PSA'], axis=1)
# list(c)
c.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,08/29/2006,13:00:00,NaN,NaN,43.0,08/30/2006,578,HARRASSMENT 2,638.0,...,M,NaN,40.827414,-73.877946,"(40.827414051, -73.877945775)",PATROL BORO BRONX,NaN,25-44,BLACK HISPANIC,F
1,403507361,11/05/2006,11:00:00,11/05/2006,17:40:00,66.0,11/05/2006,107,BURGLARY,221.0,...,NaN,NaN,40.637097,-74.006105,"(40.637096864, -74.006105014)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,09/08/2006,23:30:00,09/09/2006,00:01:00,106.0,09/09/2006,347,INTOXICATED & IMPAIRED DRIVING,905.0,...,NaN,NaN,40.679260,-73.841500,"(40.679260229, -73.841500185)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,18:40:00,12/13/2011,18:49:00,79.0,12/13/2011,341,PETIT LARCENY,333.0,...,NaN,NaN,40.687402,-73.940369,"(40.687401619, -73.940369194)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,480667624,08/14/2009,04:20:00,NaN,NaN,30.0,08/14/2009,113,FORGERY,729.0,...,NaN,NaN,40.831576,-73.942983,"(40.831576128, -73.942982699)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E

In [ ]:
c.rename(columns={"CMPLNT_NUM":"complaint_number", "CMPLNT_FR_DT":"complaint_from_date", 
          "CMPLNT_FR_TM":"complaint_from_time", "CMPLNT_TO_DT": "complaint_to_date", 
          "CMPLNT_TO_TM":"complaint_to_time", "OFNS_DESC":"offense_description", "BORO_NM":"borough"
                  })

,complaint_number,complaint_from_date,complaint_from_time,complaint_to_date,complaint_to_time,ADDR_PCT_CD,RPT_DT,KY_CD,offense_description,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,08/29/2006,13:00:00,NaN,NaN,43.0,08/30/2006,578,HARRASSMENT 2,638.0,...,M,NaN,40.827414,-73.877946,"(40.827414051, -73.877945775)",PATROL BORO BRONX,NaN,25-44,BLACK HISPANIC,F
1,403507361,11/05/2006,11:00:00,11/05/2006,17:40:00,66.0,11/05/2006,107,BURGLARY,221.0,...,NaN,NaN,40.637097,-74.006105,"(40.637096864, -74.006105014)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,09/08/2006,23:30:00,09/09/2006,00:01:00,106.0,09/09/2006,347,INTOXICATED & IMPAIRED DRIVING,905.0,...,NaN,NaN,40.679260,-73.841500,"(40.679260229, -73.841500185)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,18:40:00,12/13/2011,18:49:00,79.0,12/13/2011,341,PETIT LARCENY,333.0,...,NaN,NaN,40.687402,-73.940369,"(40.687401619, -73.940369194)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,480667624,08/14/2009,04:20:00,NaN,NaN,30.0,08/14/2009,113,FORGERY,729.0,...,NaN,NaN,40.831576,-73.942983,"(40.831576128, -73.942982699)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E
5,605915885,10/27/2009,21:10:00,NaN,NaN,69.0,10/29/2009,105,ROBBERY,397.0,...,M,NaN,40.643368,-73.905059,"(40.643368102, -73.905059257)",PATROL BORO BKLYN SOUTH,NaN,18-24,BLACK,M
6,820084484,12/16/2006,20:00:00,12/16/2006,20:05:00,40.0,12/16/2006,235,DANGEROUS DRUGS,567.0,...,NaN,NaN,40.819127,-73.917392,"(40.819127068, -73.917392286)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,E
7,799044409,07/21/2007,23:15:00,07/21/2007,23:45:00,75.0,07/22/2007,109,GRAND LARCENY,421.0,...,NaN,NaN,40.673329,-73.877262,"(40.673328553, -73.877261612)",PATROL BORO BKLYN NORTH,NaN,25-44,BLACK,M
8,211477358,07/07/2008,21:30:00,07/08/2008,11:45:00,34.0,07/08/2008,341,PETIT LARCENY,321.0,...,NaN,NaN,40.849415,-73.939425,"(40.849414928, -73.939425145)",PATROL BORO MAN NORTH,NaN,25-44,WHITE,M
9,986887005,09/17/2007,16:00:00,NaN,NaN,48.0,09/19/2007,578,HARRASSMENT 2,637.0,...,M,NaN,40.861392,-73.889980,"(40.861391939, -73.889979903)",PATROL BORO BRONX,NaN,<18,BLACK,M
10,207970722,01/06/2007,16:00:00,02/26/2007,12:00:00,68.0,02/26/2007,340,FRAUDS,718.0,...,NaN,NaN,40.638923,-74.034621,"(40.638922587, -74.034620525)",PATROL BORO BKLYN SOUTH,NaN,45-64,WHITE,M
11,537893224,04/26/2009,23:00:00,04/27/2009,11:30:00,122.0,04/27/2009,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,NaN,NaN,40.591872,-74.086027,"(40.591871791, -74.086027298)",PATROL BORO STATEN ISLAND,NaN,45-64,AMERICAN INDIAN/ALASKAN NATIVE,M
12,924188035,01/08/2010,22:00:00,NaN,NaN,75.0,01/11/2010,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,NaN,40.676902,-73.900047,"(40.676902346, -73.900047151)",PATROL BORO BKLYN NORTH,NaN,18-24,BLACK,F
13,321158154,11/02/2007,11:55:00,11/02/2007,11:56:00,71.0,11/02/2007,235,DANGEROUS DRUGS,567.0,...,NaN,NaN,40.662856,-73.942831,"(40.662856338, -73.942831345)",PATROL BORO BKLYN SOUTH,NaN,NaN,UNKNOWN,E
14,103912654,08/30/2009,01:00:00,08/30/2009,01:01:00,109.0,08/30/2009,106,FELONY ASSAULT,109.0,...,NaN,NaN,40.789689,-73.828959,"(40.78968863, -73.828958816)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE,M
15,591753685,12/09/2008,15:10:00,12/09/2008,15:14:00,110.0,12/09/2008,105,ROBBERY,384.0,...,M,NaN,40.741850,-73.881004,"(40.741850091, -73.881003933)",PATROL BORO QUEENS NORTH,NaN,45-64,WHITE HISPANIC,F
16,289318739,07/18/2007,07:00:00,11/30/2007,12:00:00,23.0,11/30/2007,341,PETIT LARCENY,313.0,...,M,NaN,40.794150,-73.939869,"(40.794150256, -73.939869087)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,D
17,574443172,04/27/2006,17:00:00,04/28/2006,22:40:00,44.0,04/28/2006,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,NaN,NaN,NaN,NaN,PATROL BORO BRONX,NaN,18-24,BLACK,F
18,935932450,04/11/2007,17:00:00,04/14/2007,18:00:00,10.0,04/14/2007,109,GRAND LARCENY,438.0,...,M,NaN,40.754878,-73.995815,"(40.754877681, -73.995814518)",PATROL BORO MAN SOUTH,NaN,45-64,WHITE,M
19,600460494,11/25/2006,11:15:00,NaN,NaN,72.0,11/25/2006,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,F,NaN,40.637686,-74.016251,"(40.637686007, -74.016251355)",PATROL BORO BKLYN SOUTH,NaN,25-44,WHITE,M
20,408536909,03/23/2010,01:06:00,NaN,NaN,109.0,03/24/2010,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,NaN,NaN,40.785258,-73.796315,"(40.785257702, -73.796315211)",PATROL BORO QUEENS NORTH,NaN,18-24,WHITE HISPANIC,F
21,108113137,06/30/2009,17:00:00,06/30/2009,17:20:00,83.0,07/01/2009,578,HARRASSMENT 2,637.0,...,F,NaN,40.698139,-73.921199,"(40.69813861, -73.921199037)",PATROL BORO BKLYN NORTH,NaN,25-44,WHITE HISPANIC,M
22,171216950,02/21/2006,21:00:00,NaN,NaN,110.0,02/22/2006,233,SEX CRIMES,681.0,...,M,NaN,40.745253,-73.870063,"(40.745252741, -73.87006287)",PATROL BORO QUEENS NORTH,NaN,<18,WHITE HISPANIC,M
23,314547311,11/24/2006,23:30:00,11/25/2006,12:00:00,61.0,11/25/2006,341,PETIT LARCENY,321.0,...,NaN,NaN,40.585631,-73.954854,"(40.585631491, -73.95485397)",PATROL BORO BKLYN SOUTH,NaN,25-44,WHITE,M
24,487348156,10/15/2008,15:15:00,NaN,NaN,44.0,10/15/2008,578,HARRASSMENT 2,637.0,...,NaN,NaN,40.828767,-73.917799,"(40.828766808, -73.917799476)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,F
25,814975458,11/25/2008,13:45:00,NaN,NaN,1.0,11/25/2008,358,OFFENSES INVOLVING FRAUD,705.0,...,NaN,NaN,40.720714,-74.003721,"(40.720713757, -74.003720855)",PATROL BORO MAN SOUTH,NaN,NaN,UNKNOWN,D
26,892316420,01/05/2008,12:00:00,01/22/2008,23:40:00,71.0,01/23/2008,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,NaN,40.661777,-73.935829,"(40.66177669, -73.935828946)",PATROL BORO BKLYN SOUTH,NaN,25-44,BLACK,M
27,836522816,05/14/2008,23:00:00,05/14/2008,23:10:00,42.0,05/15/2008,107,BURGLARY,213.0,...,NaN,NaN,40.840930,-73.901499,"(40.840929587, -73.901499338)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,D
28,103236717,10/22/2006,14:00:00,NaN,NaN,13.0,10/22/2006,351,CRIMINAL MISCHIEF & RELATED OF,259.0,...,NaN,NaN,40.741126,-73.984589,"(40.741125534, -73.984588781)",PATROL BORO MAN SOUTH,NaN,25-44,WHITE HISPANIC,F
29,478153841,11/05/2011,17:40:00,NaN,NaN,6.0,11/05/2011,341,PETIT LARCENY,333.0,...,NaN,NaN,40.731890,-73.994546,"(40.73189034, -73.994545882)",PATROL BORO MAN SOUTH,NaN,NaN,UNKNOWN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6500840,183382376,04/22/2013,18:00:00,04/22/2013,18:15:00,75.0,04/22/2013,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,NaN,40.667221,-73.893645,"(40.667221263, -73.893645322)",PATROL BORO BKLYN NORTH,NaN,<18,BLACK,F
6500841,410237234,07/14/2016,12:00:00,07/14/2016,12:30:00,102.0,07/14/2016,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,NaN,40.700593,-73.815854,"(40.700592873, -73.815854197)",PATROL BORO QUEENS SOUTH,NaN,25-44,BLACK,M
6500842,690130372,05/17/2017,19:50:00,05/17/2017,19:55:00,78.0,05/17/2017,578,HARRASSMENT 2,638.0,...,M,NaN,40.672835,-73.981602,"(40.67283536, -73.981601607)",PATROL BORO BKLYN SOUTH,NaN,45-64,BLACK,M
6500843,546272383,07/15/2012,04:00:00,07/15/2012,04:02:00,6.0,07/15/2012,578,HARRASSMENT 2,637.0,...,M,NaN,40.730757,-74.000770,"(40.730756883, -74.000769976)",PATROL BORO MAN SOUTH,NaN,25-44,WHITE,F
6500844,233027940,02/19/2013,01:30:00,02/19/2013,01:43:00,34.0,02/19/2013,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,NaN,40.847734,-73.933080,"(40.847734406, -73.933079677)",PATROL BORO MAN NORTH,NaN,45-64,BLACK,M
6500845,281677614,10/10/2015,20:50:00,10/10/2015,20:54:00,40.0,10/10/2015,236,DANGEROUS WEAPONS,782.0,...,M,NaN,40.809653,-73.910367,"(40.809652528, -73.910367098)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
6500846,387799133,01/22/2017,10:00:00,01/22/2017,11:00:00,32.0,01/22/2017,341,PETIT LARCENY,339.0,...,NaN,NaN,40.827885,-73.938238,"(40.827884788, -73.938237874)",PATROL BORO MAN NORTH,NaN,25-44,BLACK,M
6500847,927654850,07/14/2017,20:00:00,07/14/2017,20:05:00,9.0,07/14/2017,341,PETIT LARCENY,339.0,...,U,NaN,40.723777,-73.989626,"(40.723776501, -73.989625588)",PATROL BORO MAN SOUTH,NaN,UNKNOWN,UNKNOWN,D
6500848,815458972,12/14/2016,14:00:00,12/14/2016,14:10:00,113.0,12/14/2016,344,ASSAULT 3 & RELATED OFFENSES,113.0,...,F,NaN,40.705689,-73.760209,"(40.705689003, -73.760209282)",PATROL BORO QUEENS SOUTH,NaN,18-24,BLACK,F
6500849,636438770,11/01/2015,20:50:00,11/01/2015,21:00:00,22.0,11/01/2015,341,PETIT LARCENY,338.0,...,M,NaN,40.771547,-73.977408,"(40.771547111, -73.977408022)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,D
6500850,958658958,05/31/2017,17:25:00,05/31/2017,17:30:00,14.0,05/31/2017,235,DANGEROUS DRUGS,511.0,...,M,NaN,40.757839,-73.991212,"(40.757839003, -73.991212111)",PATROL BORO MAN SOUTH,NaN,UNKNOWN,UNKNOWN,E
6500851,231186348,09/01/2016,02:55:00,NaN,NaN,73.0,09/01/2016,113,FORGERY,729.0,...,M,NaN,40.661023,-73.908527,"(40.661022619, -73.908526744)",PATROL BORO BKLYN NORTH,NaN,UNKNOWN,UNKNOWN,E
6500852,539732727,02/25/2012,12:10:00,02/25/2012,12:35:00,110.0,02/25/2012,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,NaN,40.747544,-73.884855,"(40.747543879, -73.884855425)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,M
6500853,270411654,10/21/2012,13:25:00,NaN,NaN,25.0,10/21/2012,341,PETIT LARCENY,333.0,...,NaN,NaN,40.795582,-73.932298,"(40.795581553, -73.932297815)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,D
6500854,624352948,05/23/2012,18:00:00,05/24/2012,09:00:00,52.0,05/24/2012,341,PETIT LARCENY,321.0,...,U,NaN,40.874531,-73.876138,"(40.874530506, -73.876138109)",PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,F
6500855,440166839,03/15/2017,00:00:00,03/28/2017,15:23:00,77.0,03/30/2017,341,PETIT LARCENY,338.0,...,NaN,NaN,40.678251,-73.952891,"(40.678250863, -73.952891293)",PATROL BORO BKLYN NORTH,NaN,25-44,BLACK,M
6500856,266554020,04/16/2013,18:15:00,04/16/2013,18:15:00,23.0,04/16/2013,351,CRIMINAL MISCHIEF & RELATED OF,258.0,...,NaN,NaN,40.794825,-73.938619,"(40.794824801, -73.938618868)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E
6500857,341506267,03/31/2015,17:00:00,03/31/2015,23:00:00,77.0,04/01/2015,107,BURGLARY,213.0,...,NaN,NaN,40.671187,-73.933682,"(40.67118732, -73.933682189)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
6500858,872275533,07/22/2017,13:15:00,07/22/2017,13:25:00,18.0,07/22/2017,341,PETIT LARCENY,338.0,...,M,NaN,40.761646,-73.988439,"(40.761645718, -73.98843929)",PATROL BORO MAN SOUTH,NaN,25-44,WHITE HISPANIC,M
6500859,198247390,02/06/2012,13:50:00,02/06/2012,13:55:00,42.0,02/06/2012,236,DANGEROUS WEAPONS,782.0,...,NaN,NaN,40.829101,-73.896986,"(40.829101418, -73.896985578)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,E
6500860,499799822,05/07/2017,04:35:00,05/07/2017,04:50:00,72.0,05/07/2017,347,INTOXICATED & IMPAIRED DRIVING,905.0,...,NaN,NaN,40.646478,-74.012578,"(40.646478016, -74.012577866)",PATROL BORO BKLYN SOUTH,NaN,UNKNOWN,UNKNOWN,E
6500861,292472152,03/09/2017,02:55:00,03/09/2017,03:00:00,114.0,03/09/2017,118,DANGEROUS WEAPONS,793.0,...,M,NaN,40.775190,-73.934853,"(40.775189647, -73.934853135)",PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,F
6500862,332140289,10/09/2014,12:30:00,10/09/2014,19:10:00,49.0,10/09/2014,351,CRIMINAL MISCHIEF & RELATED OF,259.0,...,U,NaN,40.857454,-73.847543,"(40.857454424, -73.847542764)",PATROL BORO BRONX,NaN,NaN,UNKNOWN,D
6500863,718282538,03/04/2013,03:50:00,03/04/2013,04:00:00,30.0,03/04/2013,236,DANGEROUS WEAPONS,782.0,...,NaN,NaN,40.822660,-73.951300,"(40.822659614, -73.951300471)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E
6500864,286561349,07/30/2012,01:30:00,NaN,NaN,43.0,07/30/2012,351,CRIMINAL MISCHIEF & RELATED OF,259.0,...,M,NaN,40.828551,-73.848707,"(40.828551394, -73.84870747)",PATROL BORO BRONX,NaN,18-24,WHITE HISPANIC,F
6500865,954636350,08/23/2015,02:00:00,08/23/2015,02:10:00,75.0,08/23/2015,340,FRAUDS,707.0,...,NaN,NaN,40.672270,-73.875569,"(40.672269995, -73.875569231)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,E
6500866,960069040,06/15/2013,11:30:00,06/15/2013,11:35:00,32.0,06/15/2013,578,HARRASSMENT 2,638.0,...,M,NaN,40.829882,-73.936758,"(40.829882139, -73.9367581)",PATROL BORO MAN NORTH,NaN,45-64,BLACK,M
6500867,131686727,07/12/2012,14:00:00,07/12/2012,14:05:00,49.0,07/12/2012,106,FELONY ASSAULT,109.0,...,NaN,NaN,40.846592,-73.852913,"(40.846592354, -73.852913364)",PATROL BORO BRONX,NaN,18-24,WHITE,M
6500868,443513715,04/15/2012,19:00:00,04/16/2012,08:00:00,112.0,04/16/2012,341,PETIT LARCENY,321.0,...,NaN,NaN,40.728720,-73.853513,"(40.728720422, -73.853512684)",PATROL BORO QUEENS NORTH,NaN,NaN,UNKNOWN,D
6500869,643652700,05/08/2015,01:00:00,05/08/2015,05:00:00,102.0,05/08/2015,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,U,NaN,40.689233,-73.840012,"(40.68923269, -73.840012494)",PATROL BORO QUEENS SOUTH,NaN,25-44,ASIAN / PACIFIC ISLANDER,M

In [ ]:
cf = c[["CMPLNT_NUM", "CMPLNT_FR_DT", 
          "CMPLNT_FR_TM", "CMPLNT_TO_DT", "LAW_CAT_CD",
          "CMPLNT_TO_TM", "OFNS_DESC", "BORO_NM",
        "SUSP_SEX", "SUSP_RACE", "SUSP_AGE_GROUP",
        "VIC_SEX", "VIC_RACE", "VIC_AGE_GROUP"
       ]]
cf.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,LAW_CAT_CD,CMPLNT_TO_TM,OFNS_DESC,BORO_NM,SUSP_SEX,SUSP_RACE,SUSP_AGE_GROUP,VIC_SEX,VIC_RACE,VIC_AGE_GROUP
0,522575447,08/29/2006,13:00:00,NaN,VIOLATION,NaN,HARRASSMENT 2,BRONX,M,UNKNOWN,NaN,F,BLACK HISPANIC,25-44
1,403507361,11/05/2006,11:00:00,11/05/2006,FELONY,17:40:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,ASIAN / PACIFIC ISLANDER,45-64
2,631420068,09/08/2006,23:30:00,09/09/2006,MISDEMEANOR,00:01:00,INTOXICATED & IMPAIRED DRIVING,QUEENS,NaN,NaN,NaN,E,UNKNOWN,NaN
3,995609899,12/13/2011,18:40:00,12/13/2011,MISDEMEANOR,18:49:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
4,480667624,08/14/2009,04:20:00,NaN,FELONY,NaN,FORGERY,MANHATTAN,NaN,NaN,NaN,E,UNKNOWN,NaN

In [ ]:
cf.loc[cf['LAW_CAT_CD'] == 'FELONY']

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,LAW_CAT_CD,CMPLNT_TO_TM,OFNS_DESC,BORO_NM,SUSP_SEX,SUSP_RACE,SUSP_AGE_GROUP,VIC_SEX,VIC_RACE,VIC_AGE_GROUP
1,403507361,11/05/2006,11:00:00,11/05/2006,FELONY,17:40:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,ASIAN / PACIFIC ISLANDER,45-64
4,480667624,08/14/2009,04:20:00,NaN,FELONY,NaN,FORGERY,MANHATTAN,NaN,NaN,NaN,E,UNKNOWN,NaN
5,605915885,10/27/2009,21:10:00,NaN,FELONY,NaN,ROBBERY,BROOKLYN,M,BLACK,NaN,M,BLACK,18-24
7,799044409,07/21/2007,23:15:00,07/21/2007,FELONY,23:45:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,M,BLACK,25-44
14,103912654,08/30/2009,01:00:00,08/30/2009,FELONY,01:01:00,FELONY ASSAULT,QUEENS,NaN,NaN,NaN,M,WHITE,25-44
15,591753685,12/09/2008,15:10:00,12/09/2008,FELONY,15:14:00,ROBBERY,QUEENS,M,WHITE HISPANIC,18-24,F,WHITE HISPANIC,45-64
18,935932450,04/11/2007,17:00:00,04/14/2007,FELONY,18:00:00,GRAND LARCENY,MANHATTAN,M,WHITE,25-44,M,WHITE,45-64
27,836522816,05/14/2008,23:00:00,05/14/2008,FELONY,23:10:00,BURGLARY,BRONX,NaN,NaN,NaN,D,UNKNOWN,NaN
34,320669846,07/27/2008,13:00:00,NaN,FELONY,NaN,MISCELLANEOUS PENAL LAW,BROOKLYN,M,BLACK HISPANIC,NaN,F,BLACK,25-44
36,718836666,08/26/2010,00:01:00,NaN,FELONY,NaN,GRAND LARCENY,BRONX,NaN,NaN,NaN,D,UNKNOWN,NaN
37,523025244,05/15/2008,17:50:00,05/15/2008,FELONY,17:52:00,ROBBERY,BROOKLYN,M,BLACK,NaN,F,WHITE,65+
38,813177203,07/12/2007,10:00:00,07/12/2007,FELONY,22:00:00,CRIMINAL MISCHIEF & RELATED OF,QUEENS,NaN,NaN,NaN,F,UNKNOWN,NaN
47,215351744,04/28/2006,10:15:00,05/01/2006,FELONY,12:45:00,GRAND LARCENY,BRONX,F,BLACK,NaN,M,BLACK,65+
49,868134453,11/19/2010,01:00:00,11/19/2010,FELONY,01:45:00,GRAND LARCENY OF MOTOR VEHICLE,MANHATTAN,NaN,NaN,NaN,D,UNKNOWN,NaN
51,909377224,09/08/2001,00:01:00,11/04/2005,FELONY,00:01:00,GRAND LARCENY,QUEENS,NaN,NaN,NaN,F,WHITE HISPANIC,25-44
56,110559116,01/10/2008,23:40:00,01/11/2008,FELONY,05:10:00,BURGLARY,QUEENS,NaN,NaN,NaN,M,ASIAN / PACIFIC ISLANDER,25-44
62,739194297,07/20/2010,19:30:00,07/20/2010,FELONY,20:00:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,F,BLACK,65+
63,593745731,08/09/2010,09:30:00,08/09/2010,FELONY,10:30:00,GRAND LARCENY OF MOTOR VEHICLE,QUEENS,NaN,NaN,NaN,M,WHITE HISPANIC,25-44
64,608400068,08/02/2010,09:00:00,NaN,FELONY,NaN,GRAND LARCENY,QUEENS,NaN,NaN,NaN,D,UNKNOWN,NaN
65,633412081,09/28/2007,21:00:00,NaN,FELONY,NaN,GRAND LARCENY,BRONX,NaN,NaN,NaN,F,UNKNOWN,NaN
69,513529089,11/28/2009,22:00:00,11/30/2009,FELONY,09:00:00,GRAND LARCENY OF MOTOR VEHICLE,QUEENS,NaN,NaN,NaN,F,WHITE HISPANIC,18-24
70,215257678,03/21/2010,15:45:00,03/21/2010,FELONY,16:00:00,FELONY ASSAULT,MANHATTAN,NaN,NaN,NaN,M,UNKNOWN,45-64
71,245711386,02/20/2007,01:30:00,02/20/2007,FELONY,03:30:00,GRAND LARCENY OF MOTOR VEHICLE,BROOKLYN,NaN,NaN,NaN,M,ASIAN / PACIFIC ISLANDER,18-24
77,507037537,07/12/2008,01:05:00,NaN,FELONY,NaN,FELONY ASSAULT,QUEENS,M,UNKNOWN,NaN,M,WHITE HISPANIC,25-44
83,284668573,09/02/2008,18:00:00,09/02/2008,FELONY,18:10:00,ROBBERY,QUEENS,M,WHITE HISPANIC,NaN,M,WHITE HISPANIC,18-24
86,760659189,03/05/2010,07:45:00,03/05/2010,FELONY,08:30:00,GRAND LARCENY,MANHATTAN,NaN,NaN,NaN,F,WHITE,45-64
92,838947341,08/14/2009,18:00:00,08/15/2009,FELONY,12:00:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,M,UNKNOWN,45-64
93,230840317,09/24/2007,00:50:00,09/24/2007,FELONY,01:24:00,FELONY ASSAULT,BRONX,NaN,NaN,NaN,F,BLACK,25-44
95,550757852,12/25/2008,17:00:00,12/25/2008,FELONY,21:30:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
97,786890425,10/07/2009,23:25:00,10/07/2009,FELONY,23:29:00,MISCELLANEOUS PENAL LAW,MANHATTAN,NaN,NaN,NaN,E,UNKNOWN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6500782,998683045,07/20/2013,19:00:00,NaN,FELONY,NaN,MISCELLANEOUS PENAL LAW,QUEENS,M,WHITE HISPANIC,45-64,F,ASIAN / PACIFIC ISLANDER,25-44
6500783,402809297,08/01/2017,16:00:00,08/01/2017,FELONY,16:20:00,FELONY ASSAULT,BROOKLYN,M,BLACK,18-24,M,BLACK,45-64
6500785,156988516,12/25/2016,17:58:00,01/02/2017,FELONY,09:47:00,CRIMINAL MISCHIEF & RELATED OF,MANHATTAN,NaN,NaN,NaN,F,WHITE,45-64
6500786,295532139,12/09/2014,20:45:00,12/10/2014,FELONY,03:01:00,KIDNAPPING & RELATED OFFENSES,QUEENS,M,ASIAN / PACIFIC ISLANDER,25-44,M,ASIAN / PACIFIC ISLANDER,25-44
6500787,474415949,10/11/2016,18:55:00,10/11/2016,FELONY,19:27:00,FELONY ASSAULT,BROOKLYN,F,BLACK,25-44,F,BLACK HISPANIC,25-44
6500788,577861447,11/17/2014,17:45:00,11/17/2014,FELONY,17:50:00,GRAND LARCENY,BROOKLYN,M,BLACK,NaN,F,BLACK HISPANIC,18-24
6500794,655642459,06/12/2016,16:00:00,06/12/2016,FELONY,17:00:00,MISCELLANEOUS PENAL LAW,MANHATTAN,F,BLACK,25-44,M,BLACK,45-64
6500799,958304609,09/18/2015,02:50:00,09/18/2015,FELONY,02:55:00,GRAND LARCENY,QUEENS,F,WHITE HISPANIC,NaN,M,WHITE HISPANIC,25-44
6500800,770435802,10/27/2014,16:00:00,10/27/2014,FELONY,16:01:00,FORGERY,BRONX,NaN,NaN,NaN,M,WHITE HISPANIC,45-64
6500805,252174685,12/16/2012,00:01:00,01/12/2013,FELONY,00:01:00,GRAND LARCENY,QUEENS,NaN,NaN,NaN,F,WHITE HISPANIC,18-24
6500807,160555853,10/13/2014,15:00:00,10/13/2014,FELONY,22:30:00,BURGLARY,QUEENS,NaN,NaN,NaN,M,ASIAN / PACIFIC ISLANDER,25-44
6500809,469664137,01/25/2013,17:00:00,01/25/2013,FELONY,17:20:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,WHITE,25-44
6500810,322404083,12/03/2016,22:00:00,12/03/2016,FELONY,22:10:00,FELONY ASSAULT,BROOKLYN,U,UNKNOWN,<18,F,BLACK,<18
6500813,482826318,05/21/2015,02:30:00,05/21/2015,FELONY,02:40:00,DANGEROUS WEAPONS,BRONX,M,BLACK,45-64,E,UNKNOWN,NaN
6500814,158949259,10/03/2015,03:45:00,10/03/2015,FELONY,04:00:00,ROBBERY,BROOKLYN,M,UNKNOWN,UNKNOWN,M,WHITE HISPANIC,25-44
6500817,812821145,10/23/2012,19:15:00,10/23/2012,FELONY,19:15:00,DANGEROUS WEAPONS,STATEN ISLAND,NaN,NaN,NaN,E,UNKNOWN,NaN
6500818,537812798,06/23/2016,14:00:00,06/23/2016,FELONY,14:20:00,FELONY ASSAULT,STATEN ISLAND,F,WHITE HISPANIC,18-24,F,WHITE HISPANIC,<18
6500827,197261309,06/29/2013,04:00:00,NaN,FELONY,NaN,GRAND LARCENY,BRONX,NaN,NaN,NaN,M,BLACK,25-44
6500828,918952735,11/12/2012,15:00:00,11/14/2012,FELONY,11:20:00,GRAND LARCENY,QUEENS,NaN,NaN,NaN,D,UNKNOWN,NaN
6500830,636569249,08/12/2014,16:20:00,08/12/2014,FELONY,16:25:00,ROBBERY,MANHATTAN,NaN,NaN,NaN,M,ASIAN / PACIFIC ISLANDER,25-44
6500831,677495758,02/02/2012,01:45:00,02/02/2012,FELONY,02:07:00,MISCELLANEOUS PENAL LAW,QUEENS,NaN,NaN,NaN,E,UNKNOWN,NaN
6500832,221949304,12/06/2016,09:00:00,12/16/2016,FELONY,11:00:00,GRAND LARCENY,BROOKLYN,U,UNKNOWN,UNKNOWN,M,WHITE,65+
6500833,773675394,10/02/2012,12:58:00,NaN,FELONY,NaN,DANGEROUS DRUGS,BRONX,NaN,NaN,NaN,E,UNKNOWN,NaN
6500835,528596412,03/19/2013,22:04:00,03/19/2013,FELONY,22:07:00,MISCELLANEOUS PENAL LAW,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
6500836,670008289,06/05/2016,03:00:00,06/05/2016,FELONY,03:05:00,ROBBERY,BROOKLYN,U,UNKNOWN,UNKNOWN,M,BLACK,18-24
6500839,972186170,02/01/2013,05:20:00,02/01/2013,FELONY,06:11:00,MISCELLANEOUS PENAL LAW,MANHATTAN,M,WHITE HISPANIC,18-24,M,WHITE,25-44
6500851,231186348,09/01/2016,02:55:00,NaN,FELONY,NaN,FORGERY,BROOKLYN,M,BLACK,25-44,E,UNKNOWN,UNKNOWN
6500857,341506267,03/31/2015,17:00:00,03/31/2015,FELONY,23:00:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
6500861,292472152,03/09/2017,02:55:00,03/09/2017,FELONY,03:00:00,DANGEROUS WEAPONS,QUEENS,M,BLACK,25-44,F,BLACK,25-44
6500867,131686727,07/12/2012,14:00:00,07/12/2012,FELONY,14:05:00,FELONY ASSAULT,BRONX,NaN,NaN,NaN,M,WHITE,18-24

In [ ]:
pd.crosstab(index=cf['SUSP_SEX'], columns='count')

col_0       count
SUSP_SEX
F          642101
M         1995894
U          507139

In [ ]:
pd.crosstab(index=cf['SUSP_RACE'], columns='count')

col_0                             count
SUSP_RACE
AMERICAN INDIAN/ALASKAN NATIVE    10195
ASIAN / PACIFIC ISLANDER         102247
BLACK                           1224987
BLACK HISPANIC                   168273
OTHER                                11
UNKNOWN                          847942
WHITE                            366466
WHITE HISPANIC                   558327

In [ ]:
pd.crosstab(index=complaint['BORO_NM'], columns='count')

col_0            count
BORO_NM
BRONX          1408361
BROOKLYN       1935028
MANHATTAN      1557920
QUEENS         1282057
STATEN ISLAND   306986

In [ ]:
pd.crosstab(index=cf['VIC_RACE'], columns='count')

col_0                             count
VIC_RACE
AMERICAN INDIAN/ALASKAN NATIVE    29422
ASIAN / PACIFIC ISLANDER         360047
BLACK                           1544439
BLACK HISPANIC                   214165
OTHER                                31
UNKNOWN                         2186733
WHITE                           1129716
WHITE HISPANIC                  1036012

In [ ]:
pd.crosstab(index=cf['VIC_SEX'], columns='count')

col_0      count
VIC_SEX
D         772964
E        1067365
F        2539404
M        2120829
U              4

In [ ]:
cf = cf.loc[cf['BORO_NM'] == ('BROOKLYN')] 
cf.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,LAW_CAT_CD,CMPLNT_TO_TM,OFNS_DESC,BORO_NM,SUSP_SEX,SUSP_RACE,SUSP_AGE_GROUP,VIC_SEX,VIC_RACE,VIC_AGE_GROUP
1,403507361,11/05/2006,11:00:00,11/05/2006,FELONY,17:40:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,ASIAN / PACIFIC ISLANDER,45-64
3,995609899,12/13/2011,18:40:00,12/13/2011,MISDEMEANOR,18:49:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
5,605915885,10/27/2009,21:10:00,NaN,FELONY,NaN,ROBBERY,BROOKLYN,M,BLACK,NaN,M,BLACK,18-24
7,799044409,07/21/2007,23:15:00,07/21/2007,FELONY,23:45:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,M,BLACK,25-44
10,207970722,01/06/2007,16:00:00,02/26/2007,MISDEMEANOR,12:00:00,FRAUDS,BROOKLYN,NaN,UNKNOWN,NaN,M,WHITE,45-64

<h1><b>General Statistics</b></h1>

In [ ]:
conditions = [
    (cf['LAW_CAT_CD'] == 'VIOLATION') ,
    (cf['LAW_CAT_CD'] == 'MISDEMEANOR'),
    (cf['LAW_CAT_CD'] == 'FELONY')
]
choices = [1, 2, 3]
cf['LAW_CAT_CD'] = np.select(conditions, choices, default=np.nan)

pd.crosstab(index=cf['LAW_CAT_CD'], columns='count')

col_0         count
LAW_CAT_CD
1.0          246489
2.0         1061916
3.0          626623

In [ ]:
# time = float(t_temp.replace(":",""))
def removeColon(x):
    if (isinstance(x, str)):
        hour = int(x[:2])
    #     print (hour)
        if (5 <= hour < 7 ):
            return 1
        elif (7 <= hour < 9):
            return 2
        elif (9 <= hour < 12):
            return 3
        elif (12 <= hour < 15):
            return 4
        elif (15 <= hour < 18):
            return 5
        elif (18 <= hour < 20):
            return 6
        elif (20 <= hour < 22):
            return 7
        elif ((22 <= hour <= 23) or hour == 0):
            return 8
        elif (0 < hour < 5): 
            return 9
        else:
            return None
    else:
        return None

cf['CMPLNT_FR_TM'] = cf['CMPLNT_FR_TM'].apply(removeColon)
cf

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,LAW_CAT_CD,CMPLNT_TO_TM,OFNS_DESC,BORO_NM,SUSP_SEX,SUSP_RACE,SUSP_AGE_GROUP,VIC_SEX,VIC_RACE,VIC_AGE_GROUP
1,403507361,11/05/2006,3.0,11/05/2006,3.0,17:40:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,ASIAN / PACIFIC ISLANDER,45-64
3,995609899,12/13/2011,6.0,12/13/2011,2.0,18:49:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
5,605915885,10/27/2009,7.0,NaN,3.0,NaN,ROBBERY,BROOKLYN,M,BLACK,NaN,M,BLACK,18-24
7,799044409,07/21/2007,8.0,07/21/2007,3.0,23:45:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,M,BLACK,25-44
10,207970722,01/06/2007,5.0,02/26/2007,2.0,12:00:00,FRAUDS,BROOKLYN,NaN,UNKNOWN,NaN,M,WHITE,45-64
12,924188035,01/08/2010,8.0,NaN,2.0,NaN,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,M,BLACK,NaN,F,BLACK,18-24
13,321158154,11/02/2007,3.0,11/02/2007,2.0,11:56:00,DANGEROUS DRUGS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
19,600460494,11/25/2006,3.0,NaN,2.0,NaN,OFF. AGNST PUB ORD SENSBLTY &,BROOKLYN,F,UNKNOWN,NaN,M,WHITE,25-44
21,108113137,06/30/2009,5.0,06/30/2009,1.0,17:20:00,HARRASSMENT 2,BROOKLYN,F,WHITE HISPANIC,NaN,M,WHITE HISPANIC,25-44
23,314547311,11/24/2006,8.0,11/25/2006,2.0,12:00:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,M,WHITE,25-44
26,892316420,01/05/2008,4.0,01/22/2008,2.0,23:40:00,OFF. AGNST PUB ORD SENSBLTY &,BROOKLYN,M,BLACK,NaN,M,BLACK,25-44
32,713384717,04/05/2006,7.0,04/05/2006,2.0,21:24:00,DANGEROUS DRUGS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
33,911147749,11/06/2010,4.0,11/06/2010,2.0,13:00:00,VEHICLE AND TRAFFIC LAWS,BROOKLYN,M,WHITE,NaN,M,BLACK,25-44
34,320669846,07/27/2008,4.0,NaN,3.0,NaN,MISCELLANEOUS PENAL LAW,BROOKLYN,M,BLACK HISPANIC,NaN,F,BLACK,25-44
35,796464968,04/10/2009,4.0,NaN,1.0,NaN,HARRASSMENT 2,BROOKLYN,M,BLACK,25-44,F,BLACK,<18
37,523025244,05/15/2008,5.0,05/15/2008,3.0,17:52:00,ROBBERY,BROOKLYN,M,BLACK,NaN,F,WHITE,65+
39,699744490,08/05/2011,7.0,NaN,2.0,NaN,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,M,WHITE HISPANIC,NaN,F,WHITE HISPANIC,<18
44,598552327,01/09/2010,4.0,01/09/2010,2.0,12:40:00,PETIT LARCENY,BROOKLYN,M,BLACK,NaN,F,BLACK,25-44
54,233152912,07/08/2009,3.0,07/08/2009,2.0,10:22:00,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
57,481342244,07/10/2009,5.0,07/10/2009,2.0,15:56:00,DANGEROUS DRUGS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
60,206580545,10/05/2011,9.0,10/05/2011,2.0,04:55:00,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,NaN,NaN,NaN,M,WHITE HISPANIC,45-64
62,739194297,07/20/2010,6.0,07/20/2010,3.0,20:00:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,F,BLACK,65+
71,245711386,02/20/2007,9.0,02/20/2007,3.0,03:30:00,GRAND LARCENY OF MOTOR VEHICLE,BROOKLYN,NaN,NaN,NaN,M,ASIAN / PACIFIC ISLANDER,18-24
74,629437167,04/30/2010,9.0,04/30/2010,2.0,01:35:00,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,F,WHITE,NaN,F,WHITE,25-44
79,465373814,06/06/2008,7.0,06/06/2008,2.0,21:45:00,DANGEROUS DRUGS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
80,409875987,06/30/2007,3.0,06/30/2007,2.0,11:06:00,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,M,BLACK,NaN,F,BLACK,18-24
88,560585198,09/22/2006,5.0,09/22/2006,2.0,15:30:00,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,M,UNKNOWN,NaN,M,BLACK,<18
92,838947341,08/14/2009,6.0,08/15/2009,3.0,12:00:00,GRAND LARCENY,BROOKLYN,NaN,NaN,NaN,M,UNKNOWN,45-64
95,550757852,12/25/2008,5.0,12/25/2008,3.0,21:30:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
96,871207717,12/26/2007,6.0,12/26/2007,2.0,18:05:00,OFF. AGNST PUB ORD SENSBLTY &,BROOKLYN,M,BLACK,NaN,F,BLACK,45-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6500761,823078457,07/04/2013,9.0,NaN,2.0,NaN,VEHICLE AND TRAFFIC LAWS,BROOKLYN,NaN,NaN,NaN,F,BLACK,18-24
6500764,465284373,09/24/2012,9.0,09/24/2012,3.0,04:10:00,FELONY ASSAULT,BROOKLYN,NaN,NaN,NaN,M,BLACK,25-44
6500775,505659393,02/10/2015,8.0,02/10/2015,2.0,01:25:00,PETIT LARCENY,BROOKLYN,U,UNKNOWN,NaN,M,WHITE,25-44
6500776,125577734,08/05/2016,4.0,08/05/2016,2.0,14:17:00,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,U,BLACK,UNKNOWN,D,UNKNOWN,UNKNOWN
6500780,787760058,05/28/2013,3.0,05/28/2013,2.0,12:07:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
6500781,387479829,07/01/2012,8.0,07/01/2012,3.0,23:59:00,SEX CRIMES,BROOKLYN,NaN,NaN,NaN,F,WHITE HISPANIC,<18
6500783,402809297,08/01/2017,5.0,08/01/2017,3.0,16:20:00,FELONY ASSAULT,BROOKLYN,M,BLACK,18-24,M,BLACK,45-64
6500784,187649403,08/21/2014,6.0,08/21/2014,2.0,18:10:00,DANGEROUS DRUGS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
6500787,474415949,10/11/2016,6.0,10/11/2016,3.0,19:27:00,FELONY ASSAULT,BROOKLYN,F,BLACK,25-44,F,BLACK HISPANIC,25-44
6500788,577861447,11/17/2014,5.0,11/17/2014,3.0,17:50:00,GRAND LARCENY,BROOKLYN,M,BLACK,NaN,F,BLACK HISPANIC,18-24
6500793,740314499,07/15/2013,7.0,NaN,2.0,NaN,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,M,BLACK,45-64
6500802,998125016,01/09/2017,5.0,01/09/2017,2.0,15:31:00,PETIT LARCENY,BROOKLYN,F,WHITE,18-24,D,UNKNOWN,UNKNOWN
6500806,318044636,05/28/2014,9.0,NaN,2.0,NaN,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,M,BLACK,25-44,F,BLACK,25-44
6500809,469664137,01/25/2013,5.0,01/25/2013,3.0,17:20:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,F,WHITE,25-44
6500810,322404083,12/03/2016,8.0,12/03/2016,3.0,22:10:00,FELONY ASSAULT,BROOKLYN,U,UNKNOWN,<18,F,BLACK,<18
6500814,158949259,10/03/2015,9.0,10/03/2015,3.0,04:00:00,ROBBERY,BROOKLYN,M,UNKNOWN,UNKNOWN,M,WHITE HISPANIC,25-44
6500823,538755663,11/05/2011,5.0,11/12/2011,2.0,20:00:00,SEX CRIMES,BROOKLYN,M,BLACK,NaN,F,BLACK,<18
6500824,680438827,05/30/2015,8.0,05/31/2015,2.0,22:30:00,OFF. AGNST PUB ORD SENSBLTY &,BROOKLYN,M,BLACK,45-64,F,BLACK,45-64
6500825,372360490,08/04/2014,3.0,08/04/2014,2.0,12:40:00,PETIT LARCENY,BROOKLYN,U,UNKNOWN,NaN,F,BLACK,45-64
6500832,221949304,12/06/2016,3.0,12/16/2016,3.0,11:00:00,GRAND LARCENY,BROOKLYN,U,UNKNOWN,UNKNOWN,M,WHITE,65+
6500835,528596412,03/19/2013,8.0,03/19/2013,3.0,22:07:00,MISCELLANEOUS PENAL LAW,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN
6500836,670008289,06/05/2016,9.0,06/05/2016,3.0,03:05:00,ROBBERY,BROOKLYN,U,UNKNOWN,UNKNOWN,M,BLACK,18-24
6500838,100837502,01/17/2014,4.0,01/17/2014,2.0,15:24:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
6500840,183382376,04/22/2013,6.0,04/22/2013,2.0,18:15:00,ASSAULT 3 & RELATED OFFENSES,BROOKLYN,NaN,NaN,NaN,F,BLACK,<18
6500842,690130372,05/17/2017,6.0,05/17/2017,1.0,19:55:00,HARRASSMENT 2,BROOKLYN,M,BLACK,25-44,M,BLACK,45-64
6500851,231186348,09/01/2016,9.0,NaN,3.0,NaN,FORGERY,BROOKLYN,M,BLACK,25-44,E,UNKNOWN,UNKNOWN
6500855,440166839,03/15/2017,8.0,03/28/2017,2.0,15:23:00,PETIT LARCENY,BROOKLYN,NaN,NaN,NaN,M,BLACK,25-44
6500857,341506267,03/31/2015,5.0,03/31/2015,3.0,23:00:00,BURGLARY,BROOKLYN,NaN,NaN,NaN,D,UNKNOWN,NaN
6500860,499799822,05/07/2017,9.0,05/07/2017,2.0,04:50:00,INTOXICATED & IMPAIRED DRIVING,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,UNKNOWN
6500865,954636350,08/23/2015,9.0,08/23/2015,2.0,02:10:00,FRAUDS,BROOKLYN,NaN,NaN,NaN,E,UNKNOWN,NaN

In [ ]:
cf[['CMPLNT_FR_TM', 'LAW_CAT_CD', 'OFNS_DESC', 'SUSP_SEX', 'SUSP_RACE', 'VIC_SEX', 'VIC_RACE']].describe(include='all')

,CMPLNT_FR_TM,LAW_CAT_CD,OFNS_DESC,SUSP_SEX,SUSP_RACE,VIC_SEX,VIC_RACE
count,1.935011e+06,1.935028e+06,1930917,950307,983580,1934921,1934921
unique,NaN,NaN,64,3,8,4,8
top,NaN,NaN,PETIT LARCENY,M,BLACK,F,BLACK
freq,NaN,NaN,297824,608151,469229,785631,654766
mean,5.510063e+00,2.196449e+00,NaN,NaN,NaN,NaN,NaN
std,2.199801e+00,6.423568e-01,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,4.000000e+00,2.000000e+00,NaN,NaN,NaN,NaN,NaN
50%,5.000000e+00,2.000000e+00,NaN,NaN,NaN,NaN,NaN
75%,7.000000e+00,3.000000e+00,NaN,NaN,NaN,NaN,NaN
max,9.000000e+00,3.000000e+00,NaN,NaN,NaN,NaN,NaN

conditions = [
    (cf['SUSP_SEX'] == 'F') ,
    (cf['SUSP_SEX'] == 'M')]
choices = [1, 0]
cf['SUSP_SEX'] = np.select(conditions, choices, default=np.nan)

In [ ]:
pd.crosstab(index=cf['SUSP_SEX'], columns='count')

col_0      count
SUSP_SEX
0.0       608151
1.0       196978

In [ ]:
conditions = [
    (cf['SUSP_RACE'] != ('BLACK' or 'BLACK HISPANIC')) ,
    (cf['SUSP_RACE'] == ('BLACK' or 'BLACK HISPANIC'))]
choices = [0, 1]
cf['SUSP_RACE'] = np.select(conditions, choices, default=np.nan)

In [ ]:
pd.crosstab(index=cf['SUSP_RACE'], columns='count')

col_0                            count
SUSP_RACE
AMERICAN INDIAN/ALASKAN NATIVE    2402
ASIAN / PACIFIC ISLANDER         19670
BLACK                           469229
BLACK HISPANIC                   30089
OTHER                                1
UNKNOWN                         231584
WHITE                           112747
WHITE HISPANIC                  117858

In [ ]:
pd.crosstab(index=cf['SUSP_RACE'], columns='count')

col_0        count
SUSP_RACE
0.0        1465799
1.0         469229

In [ ]:
conditions = [
    (cf['VIC_RACE'] != ('BLACK' or 'BLACK HISPANIC')) ,
    (cf['VIC_RACE'] == ('BLACK' or 'BLACK HISPANIC'))]
choices = [0, 1]
cf['VIC_RACE'] = np.select(conditions, choices, default=np.nan)

In [ ]:
pd.crosstab(index=cf['VIC_RACE'], columns='count')

col_0       count
VIC_RACE
0.0       1280262
1.0        654766

In [ ]:
conditions = [
    (cf['VIC_SEX'] == 'F') ,
    (cf['VIC_SEX'] == 'M')]
choices = [1, 0]
cf['VIC_SEX'] = np.select(conditions, choices, default=np.nan)

In [ ]:
pd.crosstab(index=cf['VIC_SEX'], columns='count')

col_0     count
VIC_SEX
0.0      659932
1.0      785631

In [ ]:
lm1 = smf.ols(formula = 'LAW_CAT_CD ~ CMPLNT_FR_TM + SUSP_RACE + VIC_RACE + VIC_SEX + SUSP_SEX', data = cf).fit()
print (lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             LAW_CAT_CD   R-squared:                       0.051
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     7444.
Date:                Mon, 16 Dec 2019   Prob (F-statistic):               0.00
Time:                        22:21:23   Log-Likelihood:            -7.6704e+05
No. Observations:              691114   AIC:                         1.534e+06
Df Residuals:                  691108   BIC:                         1.534e+06
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        1.9531      0.003    681.039      0.000       1.947       1.959
CMPLNT_FR_TM     0.0259      0.000     64.559      0.000       0.025       0.027
SUSP_RACE        0.1451      0.002     68.464      0.000       0.141       0.149
VIC_RACE        -0.0862      0.002    -40.715      0.000      -0.090      -0.082
VIC_SEX         -0.1697      0.002    -92.803      0.000      -0.173      -0.166
SUSP_SEX        -0.2558      0.002   -126.143      0.000      -0.260      -0.252
==============================================================================
Omnibus:                   336614.093   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            36469.640
Skew:                           0.024   Prob(JB):                         0.00
Kurtosis:                       1.876   Cond. No.                         20.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
conditions = [
    (cf['LAW_CAT_CD'] == 1.0) ,
    (cf['LAW_CAT_CD'] > 1.0)]
choices = [0, 1]
cf['LAW_CAT_CD'] = np.select(conditions, choices, default=np.nan)

In [ ]:
pd.crosstab(index=cf['LAW_CAT_CD'], columns='count')

col_0         count
LAW_CAT_CD
0.0          246489
1.0         1688539

In [ ]:
logit1 = sm.formula.logit(formula = "LAW_CAT_CD ~ CMPLNT_FR_TM + SUSP_RACE + VIC_RACE + VIC_SEX + SUSP_SEX", data = cf).fit()
print (logit1.summary())

Optimization terminated successfully.
         Current function value: 0.601770
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:             LAW_CAT_CD   No. Observations:               691114
Model:                          Logit   Df Residuals:                   691108
Method:                           MLE   Df Model:                            5
Date:                Mon, 16 Dec 2019   Pseudo R-squ.:                 0.02064
Time:                        22:47:15   Log-Likelihood:            -4.1589e+05
converged:                       True   LL-Null:                   -4.2466e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.7544      0.009     88.021      0.000       0.738       0.771
CMPLNT_FR_TM     0.0683      0.001     56.418      0.000       0.066       0.071
SUSP_RACE        0.2377      0.006     37.164      0.000       0.225       0.250
VIC_RACE        -0.1323      0.006    -20.677      0.000      -0.145      -0.120
VIC_SEX         -0.3394      0.006    -60.784      0.000      -0.350      -0.329
SUSP_SEX        -0.5108      0.006    -87.663      0.000      -0.522      -0.499
================================================================================